/* =============
    Variables
============= */

// Define the breakpoints

// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;



// Colors
$white: #fff;
$black: #000;
$cultured: #F7F9EE;
$palegoldenrod: #DEE7B0;
$eclecticblue: #4E7276;
$indigo: #1E4648;
$stategreen: #0A2F32;
$spring: #FFECA8;

