/* =============
    Header
============= */
header{

    background-color: ;
    color: 

    .content{
        display: ;
        grid-template-columns:    
    }
    ul{
        li{
            list-style: ;
            font-family: ;
        }
        a{
            text-decoration: ;
        }
    }
}